<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/restaurant.css">
    <title>Restaurant List</title>
</head>

<body>

    {{{body}}}

    <link rel="stylesheet" href="/public/javascripts/bootstrap.bundle.min.js">
</body>

</html>